.git
.gitignore
.env
.env.backup
.env.production
node_modules
vendor
public/build
public/hot
storage/*.key
storage/logs
storage/pail
tests
.phpunit.result.cache
.phpunit.cache
.phpactor.json
README.md
Thumbs.db
.DS_Store
Homestead.json
Homestead.yaml
